body {
    font-family: 'Roboto', sans-serif;  
    margin: 0;
    padding: 0;  
    align-items: center;
    justify-content: center;
 
}
.section1 {
    background-color: #1F2937;
    padding-bottom: 30px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #E5E7EB;
    background-color: #1F2937;
    font-weight: 300;
    background-size: 100% auto;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.headerlogo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    background-color: #1F2937;
  
    margin-top: 15px;
    margin-bottom: 15px;
}

.right-links {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    margin-left: auto;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    background-size: 100% auto;
    align-items: flex-start;
    gap: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.herotitle {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.herosubtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -40px;

}

.signup1 {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px;
      
}

.placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 200px;
    width: auto;
}

.body1 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 12px;
    padding: 60px;
    width: 20px;
    height: 20px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-top: -10px;
}

.body2 {
    background-color: #E5E6EB;
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}
.name {
    font-weight: bold;
    text-align: right;
    margin-top: -30px;
}

.body3 {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.action {
    font-size: 24px;
}

.sub {
    font-size: 18px;
    color: #E5E6EB;
    opacity: .8;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-left: auto;
}

.signup2 {
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E6EB;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}